body{
    background: linear-gradient(to bottom,#b0f3ef,#10d2f8);
    background-repeat: no-repeat;
    /* height: 700px; */
    display: flex;
    justify-content: center;
}

th, 
td,
tr {
    padding: 5px;
    border-bottom: 1px solid rgb(3, 4, 30);
    background-color: rgb(255, 253, 253);
  }